body {
  background-color: #bef7c0;
  /* background-color: #aaaaaa; /* For easy distinction with other background */
  background-image: var(--bs-gradient);
  color: black;
}

* {
  font-family: 'Noto Sans', sans-serif;
}

nav {
  font-size: 18px;
  background-color: #87C38F;
  background-image: var(--bs-gradient);
}

.nav-link, .navbar-brand {
  font-family: 'Montserrat', sans-serif!important;
  color: #ffffff;
}

.navbar-brand:hover, .nav-link:hover {
  color: #000000;
}

.active {
  color: black!important;
}

.card {
  border-color: none;
  border-width: 0;
  margin: 5px;
  background-color: inherit;
}

.carousel-inner > .carousel-item > img {
  height: 50vh;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.card-title > a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.row {
  text-align: center;
}

/* Program-specific graphics */

.so {
  background-color: #4672fe;
  background-image: var(--bs-gradient);
}

._3s {
  background-color: #7ec699;
  background-image: var(--bs-gradient);
}

.soa {
  background-color: #e2777a;
  background-image: var(--bs-gradient);
}

#scienceoutdoors > .card-white {
  background-color: #f18f01;
  background-image: var(--bs-gradient);
}

#summerscienceseminars > .card-white {
  background-color: #f18f01;
  background-image: var(--bs-gradient);
}

#sliceofart > .card-white {
  background-color: #f18f01;
  background-image: var(--bs-gradient);
}

/* Learn more buttons */

.sobackground, .sobackground:hover {
  background-color: #3d0814;
  background-image: var(--bs-gradient);
  color: white;
}

._3sbackground, ._3sbackground:hover {
  background-color: #3d0814;
  background-image: var(--bs-gradient);
  color: white;
}

.soabackground, .soabackground:hover {
  background-color: #3d0814;
  background-image: var(--bs-gradient);
  color: white;
}

.footercol {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: -5px;
  border-color: #ffffff;
  border-width: 0;
  border-left-width: medium;
  border-right-width: medium;
  border-radius: 0;
  color: white;
}

.leftmargin {
  border-left: 0;
}

.rightmargin {
  border-right: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.body-container {
  padding-top: 9vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32rem;
  background-color: #226f54;
  background-image: var(--bs-gradient);
}

footer {
  background-color: #6aaa61;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.navbar-brand.navbar-brand-footer {
  color: white;
}

a {
  color: inherit;
}

.card-body {
  margin-top: auto;
  margin-bottom: auto;
}

.list-group-item {
  background-color: inherit;
  border-bottom-width: 0px!important;
  color: white;
}

.underline {
  text-decoration: underline!important;
}

.card-footer {
  text-align: center;
  background-color: inherit;
}

.copyright {
  font-size: 14px;
}

.card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-width: 95%;
  max-height: 95%;
  width: auto;
  height: 200px;
}

.card-img-top {
  margin-top: 1rem;
}

.registerbutton {
  --bs-btn-margin-y: .25rem;
  --bs-btn-margin-x: .5rem;
  --bs-btn-font-size: 2rem;
}

.desc {
  font-family: 'Abel';
  font-size: 1.5rem;
}

.list-group-item > strong {
  font-family: 'Montserrat', sans-serif;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item.active .dropdown-item:hover .dropdown-item:active .dropdown-item.hover {
  background-color: #50c878!important;
  background-image: var(--bs-gradient);
}

ul.dropdown-menu {
  --bs-dropdown-link-active-bg: #50c878!important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #dc3545!important;
}

ul {
  list-style-position: inside;
}

.math, .math > u, .math > em, .math > sub {
  font-family: Cambria Math!important;
}

/* I really wish I didn't have to do this */

.bounceHover:hover {
  animation: bounce;
  animation-duration: 2s;
}

.flashHover:hover {
  animation: flash;
  animation-duration: 2s;
}

.pulseHover:hover {
  animation: pulse;
  animation-duration: 2s;
}

.rubberBandHover:hover {
  animation: rubberBand;
  animation-duration: 2s;
}

.shakeXHover:hover {
  animation: shakeX;
  animation-duration: 2s;
}

.shakeYHover:hover {
  animation: shakeY;
  animation-duration: 2s;
}

.headShakeHover:hover {
  animation: headShake;
  animation-duration: 2s;
}

.swingHover:hover {
  animation: swing;
  animation-duration: 2s;
}

.tadaHover:hover {
  animation: tada;
  animation-duration: 2s;
}

.wobbleHover:hover {
  animation: wobble;
  animation-duration: 2s;
}

.jelloHover:hover {
  animation: jello;
  animation-duration: 2s;
}

.heartBeatHover:hover {
  animation: heartBeat;
  animation-duration: 2s;
}

/* don't break */

a:hover {
  animation: pulse;
  animation-duration: 2s;
}

.breathe {
  animation: pulse;
  animation-duration: 2s;
}

.dropdown-item {
  animation: none!important;
}

span:heavy {
  font-weight: 900;
}

/* Custom Tooltip */
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
