body {
  background-color: #fff5e5;
  /* background-color: #aaaaaa; For easy distinction with other background*/
  background-image: var(--bs-gradient);
  color: black;
}

* {
  font-family: 'Abel', sans-serif;
}

nav {
  font-size: 18px;
  background-color: #ffffff;
}

.nav-link, .navbar-brand {
  font-family: 'Oswald', sans-serif!important;
  color: #6aaa61;
}

.navbar-brand:hover, .nav-link:hover {
  color: #83cc78;
}

.active {
  color: black!important;
}

.card {
  border-color: none;
  border-width: medium;
  margin: 5px;
  background-color: inherit;
}

.carousel-inner > .carousel-item > img {
  height: 50vh;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.card-title > a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.row {
  text-align: center;
}

/* Program-specific graphics */

.so {
  border-color: #0d6efd;
  color: #0d6efd;
}

._3s {
  border-color: #20c997;
  color: #20c997;
}

.soa {
  border-color: #c82c74;
  color: #c82c74;
}

#scienceoutdoors > .card-white {
  background-color: #ffffff;
}

#summerscienceseminars > .card-white {
  background-color: #ffffff;
}

#sliceofart > .card-white {
  background-color: #ffffff;
}

.sobackground, .sobackground:hover {
  background-color: #c8dffe;
}

._3sbackground, ._3sbackground:hover {
  background-color: #98fb98;
}

.soabackground, .soabackground:hover {
  background-color: #fadadd;
}

.footercol {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: -5px;
  border-color: #ffffff;
  border-width: 0;
  border-left-width: medium;
  border-right-width: medium;
  border-radius: 0;
  color: white;
}

.leftmargin {
  border-left: 0;
}

.rightmargin {
  border-right: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.body-container {
  padding-top: 9vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32rem;
  background-color: #fff3d1;
}

footer {
  background-color: #6aaa61;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.navbar-brand.navbar-brand-footer {
  color: white;
}

a {
  color: inherit;
}

.card-body {
  margin-top: auto;
  margin-bottom: auto;
}

.list-group-item {
  background-color: inherit;
}

.underline {
  text-decoration: underline!important;
}

.card-footer {
  text-align: center;
  background-color: inherit;
}

.copyright {
  font-size: 14px;
}

.card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-width: 95%;
  max-height: 95%;
  width: auto;
  height: 200px;
}

.card-img-top {
  margin-top: 1rem;
}

.registerbutton {
  --bs-btn-margin-y: .25rem;
  --bs-btn-margin-x: .5rem;
  --bs-btn-font-size: 2rem;
}

.desc {
  font-family: 'Abel';
  font-size: 1.5rem;
}

.list-group-item > strong {
  font-family: 'Oswald', sans-serif;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item.active .dropdown-item:hover .dropdown-item:active .dropdown-item.hover {
  background-color: #6aaa61!important;
}

ul.dropdown-menu {
  --bs-dropdown-link-active-bg: #6aaa61!important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #dc3545!important;
}

ul {
  list-style-position: inside;
}

.math, .math > u, .math > em, .math > sub {
  font-family: Cambria Math!important;
}

.swinging404 {
  animation: swing; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
